* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    min-width: 400px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
}

.site-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}

.nav-item {
    display: block;
    padding-left: 16px;
    font: 13px Roboto,Arial,sans-serif;
    text-decoration: none;
    color: black;
}

.nav-item.one {
    padding: 0;
    color: rgba(0,0,0,.87);
}

.nav-item.two {
    padding-left: 15px;
    color: rgba(0,0,0,.87);
}

.nav-item:last-child {
    padding-left: 8px;
}


.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}

.logo {
    width: 100%;
    height: 92px;
    margin: auto;
    margin-top: 198px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.google-logo {
    width: 272px;
    height: 92px;
}

img {
    width: 100%;
    height: 100%;
}


.account-button {
    border-radius: 50%;
    padding: 4px 10px;
    border: none;
    background-color: rgb(145, 120, 89);
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 10px;
    margin-left: 5px;
}

#menu-trigger {
    margin-top: 3px;
    margin-left: 11px;
}

.container-search {
    width: auto;
    max-height: 160px;
    padding: 20px 20px 10px 20px;
    margin-top: 6px;
}

.search-bar {
    width: auto;
    height: 48px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px 0 14px;
    margin: 0 auto;
    max-width: 584px;
}

.search-flex {
    padding-bottom: 1px;
}

.lens-flex {
    padding: 4px 8px 8px 0;
}

.google-lens {
    width: 24px;
    height: 24px;
    margin-top: -7px;
    margin-right: 2px;
    margin: auto;
}


.search-icon {
    width: 20px;
    margin: auto;
}

.search {
    border: none;
    width: 259px;
    height: 27px;
    padding: 0;
}

.buttons {
    padding-top: 18px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #3c4043;
    margin: 11px 9px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    line-height: 27px;
}

.button.two {
    margin-left: 3px;
}

.language {
    font-size: small;
    color: #4d5156;
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -3px;
    flex-grow: 1;
}

.language-option {
    padding-left: 3px;
}

.language-option.two {
    padding-left: 12px;
}

.footer {
    width: 100%;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.location {
    border-bottom: 1px solid #dadce0;
    height: 49px;
    padding-top: 15px;
    padding-left: 30px;
    color: #202124;
    margin-bottom: 0;
    margin-top: 0;
}

.content-footer > a {
    color: #202124;
}

.content-footer {
    display: flex;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.content-footer.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-footer.bottom {
    display: flex;
    justify-content: center;
}

.foot-content {
    display: block;
    padding: 15px;
}

@media only screen and (max-width:1200px) {
    .footer-container {
        justify-content: space-evenly;
    }
}

.nav-item:hover {
    text-decoration: underline;
}

.menu {
    padding: 8px;
}

.menu:hover {
    cursor: pointer;
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
}

